<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link 
            rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-swesome.min.css" 
        />    
        <title>Lada Auto Parts</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
              <div>
                  <a class="brand" href="index.html">Lada Auto Parts</a>
              </div>
              <div>
                  <a class="right_links" href="cart.html">Cart</a>
                  <a class="right_links" href="signin.html">Sign in</a>
              </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="part.html">
                            <!-- image size 680px by 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="part"/>                       
                        </a>
                        <div class="card-body">
                            <a href="part.html">
                                <h2>Lada Manual 5 Speed Shift Knob</h2>
                            </a>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
                All rights reserved
            </footer>
        </div>
    </body>
</html>